body{
    font-family: 'Work Sans', sans-serif;
}
.bg__white{
    background-color: rgb(206, 205, 205);
}
ul,li{
    display: block;
    padding: 0;
    margin: 0;
}

.logo{
    width: 180px;
}
.menu-bar{
    background-color: #fff;
    padding: 20px 0;
    color: #212121;
}
.menu__item{
    margin-left: 37px;
}
.menu__item a{
    color: #212121;
    font-weight: 600;
    font-size: 20px;
}
.menu__item a:hover{
    text-decoration: none;
    color: #868686;
}

/*Header*/
.header{
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    padding: 180px 0;
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: 0 100%;
}
.header__title{
    font-size: 55px;
}
.header__text{
    font-size: 20px;
    margin-bottom: 100px;
}
.button{
    padding: 10px 25px;
    margin: 0 10px;
    color: #ffffff;
    transition: .3s;
    background-color: #00897b;
    border: 2px solid #00897b;
    cursor: pointer;
}
.button:hover{
    background-color: transparent;
    border: 2px solid #f5f5f5;
}


.about{
    padding-top: 120px;
    padding-bottom: 125px;
    color: #000000;
    text-align: center;
}
.about__title{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}
.about_h3{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}
.about__text{
    color: #212121;
    font-size: 15px;
    margin-bottom: 110px;
    
}

/*services*/

.services{
    padding-top: 165px;
    padding-bottom: 125px;
    color: #000000;
    text-align: center;
    background-color: #e4fdf9;
}

.our_card{
    background-color: #fff;
    padding: 50px 25px 40px;
    transition: .3s;
    margin-bottom: 30px;
}

.our_card:hover{
    background-color: #00897b;
    color: #fff;
    box-shadow: 0px 10px 12px -3px rgba(0,0,0,0.26);
}
.our_card:hover .icon{
    color: #fff;
}
.our_card:hover .button-services{
    border: 2px solid #fff;
    color: #fff;
}

.icon{
    transition: .3s;
    font-size: 60px;
    color: #000;
}

.button-services{
    text-transform: uppercase;
    border: 2px solid #000;
    background-color: transparent;
    padding: 12px 12px;
    font-weight: 600;
    transition: .3s;
}
.button-services:hover{
    cursor: pointer;
}
/*Portfolio*/

.portfolio{
    padding-top: 120px;
    padding-bottom: 135px;
    text-align: center;
}
.portfolio button:hover,
.focused{
    color: #000;
    background-color: transparent;
    border: 2px solid #00897b;
}
.portfolio img{
    margin-bottom: 30px;
}
.filter{
    padding: 100px 0;
}

div[filter]:hover img{
    filter: brightness(50%);
    transition: .3s;
}
.text{
    display: none;
}
div[filter]:hover .text{
    display: block;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 3;
    text-align: center;
}
/*Pricing*/

.pricing{
    padding-top: 165px;
    padding-bottom: 125px;
    color: #000;
    background: #f0f1f1;
    text-align: center;
}
.price {
    background: #fff;
    transition: .3s;
}
.price:hover{
    box-shadow:0px 0px 11px 3px rgba(0,0,0,0.39);
}
.price__head{
    color: #fff;
    padding-top: 40px;
    padding-bottom: 65px;
    background: url('../img/pricing_bg.png') no-repeat;
    background-size: cover;
    max-height: 211px;
    font-size: 50px;
}
.price__head p{
    font-size: 25px;
}
.price__head sub{
    vertical-align: middle;
    font-size: 17px;
}
.price__head sup{
    font-size: 25px;
}
.price__body{
    font-size: 17px;
    color: #212121;
}
.price__body ul li{
    padding-top: 28px;
    padding-bottom: 12px;
    margin: 0 auto;
    max-width: 175px;
    border-bottom: 1px solid #bfbfbf;
}
.price__footer{
    padding: 60px 0;
}

.price__footer button{
    width: 180px;
    height: 60px;
    cursor: pointer;
    color: #212121;
    background-color: transparent;
    border: 2px solid #212121;
    font-size: 20px;
    transition: .3s;
}
.price__footer button:hover{
    text-transform: uppercase;
    color:#fff;
    background-color: #00897b;
}
/*Team*/

.team{
    padding-top: 165px;
    padding-bottom: 125px;
    color: #000;
    background: #fff;
    text-align: center;
}
.team h4{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Work Sans';
    font-weight: 600;
}
.team p{
    font-size: 15px;
    margin-bottom: 30px;
}

.slick-slider img{
    margin: 0 auto;
    width: 340px;
}
.multiple-items{
    margin-top: 125px;
}
.dots-style{
    margin-top: 115px;
    display: flex;
    justify-content: center;
}
.dots-style button{
    background-color: #00897b;
    border: none;
    border-radius: 50%;
    font-size: 0;
    height: 15px;
    width: 15px;
    margin: 5px;
}
.dots-style li[class='slick-active'] button{
    background-color: #3949ab;
}
.icons{
    display: flex;
    justify-content: center;

}
.icons a i{
    transition: .3s;
}
.icons i:nth-child(1){
    color: #f0f1f1;
}
.icons i:nth-child(2){
    color:#00897b;
}
.icons a:hover i:nth-child(1){
    color: #3949ab;
}
.icons a:hover i:nth-child(2){
    color:#fff;
}

/* Blog */


.left > div:first-child{
    order: 1;
}

.left > div:last-child{
    order: 2;
}
.right > div:first-child{
    order: 2;
}

.right > div:last-child{
    order: 1;
}

.blog{
    text-align: left;
    margin-top: 60px;
    margin-left: 20px;
}

.blog > a{
    font-size: 25px;
    color: #00897b;
    font-family: 'Work Sans';
    font-weight: 600;

}
.blog span{
    font-size: 17px;
    font-family: 'Work Sans';
    font-weight: 600;
    margin-right: 35px;   
}
.blog div{
    margin-top: 15px;
    margin-bottom: 20px;
}
.blog p{
    font-size: 15px;
}

.img_left{
    margin: 0 -20px;
}
.img_right{
    margin: 0 20px;
}
.button_blog{
    width: 220px;
    height: 70px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    background-color: #00897b;
    border: none;
    margin-top: 125px;
    font-family: 'Work Sans';
    font-weight: 600;
    transition: .3s;
}
.button_blog:hover{
    color: #000;
    background-color: transparent;
    border: 2px solid #00897b;
}

/* footer */

.footer{
    padding-top: 165px;
    padding-bottom: 125px;
    color: #fff;
    background: url('../img/footer.png') no-repeat;
    background-size: cover;
    text-align: center;
}
.footer .about__text{
    color: #fff;
}

.fa-map-marker-alt,.fa-phone, .fa-envelope{
    font-size: 62px;
    color: #fff;
}

.circle{
    background-color: #3949ab;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 35px;
}
.footer + p{
    font-size: 20px;  
} 
.footer input, textarea{
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    border: none;
}
.footer input:focus, textarea:focus{
    outline: none;
}
.footer textarea{
    margin-top: 30px;
    margin-bottom: 30px;
    resize: none;
}
.form{
    margin-top: 70px;
}
.form button{
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px 80px;
    border-radius: 10px;
    border: none;
    color: #212121;
    font-family: 'Work Sans';
    font-weight: 600;
    transition: .5s;
}
.form button:hover{
    opacity: .7;
}
.rules{
    padding: 20px 0;
    text-align: center;
    font-weight: 600;
    
}
.rules a{
    color: #000;
}
.rules a:hover{
    text-decoration: none;
}