body{
    font-family: 'Work Sans', sans-serif;
}
.bg__white{
    background-color: rgb(206, 205, 205);
}
ul,li{
    display: block;
    padding: 0;
    margin: 0;
}

.logo{
    width: 180px;
}
.menu-bar{
    background-color: #fff;
    padding: 20px 0;
    color: #212121;
}
.menu__item{
    margin-left: 37px;
}
.menu__item a{
    color: #212121;
    font-weight: 600;
    font-size: 20px;
}
.menu__item a:hover{
    text-decoration: none;
    color: #868686;
}

/*Header*/
.header{
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    padding: 180px 0;
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: 0 100%;
}
.header__title{
    font-size: 55px;
}
.header__text{
    font-size: 20px;
    margin-bottom: 100px;
}
.button{
    padding: 10px 25px;
    margin: 0 10px;
    color: #ffffff;
    transition: .3s;
    background-color: #00897b;
    border: 2px solid #00897b;
    cursor: pointer;
}
.button:hover{
    background-color: transparent;
    border: 2px solid #f5f5f5;
}


.about{
    padding-top: 120px;
    padding-bottom: 125px;
    color: #000000;
    text-align: center;
}
.about__title{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}
.about_h3{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}
.about__text{
    color: #212121;
    font-size: 15px;
    margin-bottom: 110px;
    
}

/*services*/

.services{
    padding-top: 165px;
    padding-bottom: 125px;
    color: #000000;
    text-align: center;
    background-color: #e4fdf9;
}

.our_card{
    background-color: #fff;
    padding: 50px 25px 40px;
    transition: .3s;
    margin-bottom: 30px;
}

.our_card:hover{
    background-color: #00897b;
    color: #fff;
    box-shadow: 0px 10px 12px -3px rgba(0,0,0,0.26);
}
.our_card:hover .icon{
    color: #fff;
}
.our_card:hover .button-services{
    border: 2px solid #fff;
    color: #fff;
}

.icon{
    transition: .3s;
    font-size: 60px;
    color: #000;
}

.button-services{
    text-transform: uppercase;
    border: 2px solid #000;
    background-color: transparent;
    padding: 12px 12px;
    font-weight: 600;
    transition: .3s;
}
.button-services:hover{
    cursor: pointer;
}
/*Portfolio*/

.portfolio{
    padding-top: 120px;
    padding-bottom: 135px;
    text-align: center;
}
.portfolio button:hover,
.focused{
    color: #000;
    background-color: transparent;
    border: 2px solid #00897b;
}
.portfolio img{
    margin-bottom: 30px;
}
.filter{
    padding: 100px 0;
}

div[filter]:hover img{
    filter: brightness(50%);
    transition: .3s;
}
.text{
    display: none;
}
div[filter]:hover .text{
    display: block;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 3;
    text-align: center;
}

/* Blog */


.left > div:first-child{
    order: 1;
}

.left > div:last-child{
    order: 2;
}
.right > div:first-child{
    order: 2;
}

.right > div:last-child{
    order: 1;
}

.blog{
    text-align: left;
    margin-top: 60px;
    margin-left: 20px;
}

.blog > a{
    font-size: 25px;
    color: #00897b;
    font-family: 'Work Sans';
    font-weight: 600;

}
.blog span{
    font-size: 17px;
    font-family: 'Work Sans';
    font-weight: 600;
    margin-right: 35px;   
}
.blog div{
    margin-top: 15px;
    margin-bottom: 20px;
}
.blog p{
    font-size: 15px;
}

.img_left{
    margin: 0 -20px;
}
.img_right{
    margin: 0 20px;
}
.button_blog{
    width: 220px;
    height: 70px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    background-color: #00897b;
    border: none;
    margin-top: 125px;
    font-family: 'Work Sans';
    font-weight: 600;
}